
<head>
  <title>EMI Calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  <link rel="stylesheet" href="jarupati_ragavender.css">
   
</head>


<body>
<% include header %>

   
<div id ="rji">
<div class = "row">
<div class="container">
 <div class = "col-md-6">
   <br></br>
  <p></p>
  <h2><th> Please enter below details :</th></h2>
  <br></br>


  
  <!--<form id="formelements">-->
<div class="container">
 
 <div class="container">
  <div class="form-group">
       <div class = "col-md-4">
    <label for="InputAmount">Amount</label>
    <input type="number" class="form-control" id="InputAmount" placeholder="Amount">
  <div>
  </div>
       </div>

 
   <div class="container">
    
  <div class="form-group">
       <div class = "col-md-4">
    <label for="Inputmonths">Repay months:</label>
    <input type="number" class="form-control" id="Inputmonths" placeholder="months">
 
  </div>
   </div>
   </div>

  <div class="container">
  <div class="form-group">
    <div class = "col-md-4">
    <label for="Inputinterest">interest rate(%)</label>
    <input type="number" class="form-control" id="Inputinterest" placeholder="intrest rate(%)">
    </div>
  </div>
  </div>

  <div class="container">
    <div class="form-group">
  <div class = "col-md-4">
    <p> </p>
    <button type="submit" class="btn btn-default" onclick="EMI()" >Calc emi</button>
  </div>
    </div>
</div>
<div class = "col-md-12">
<P> Your monthly EMI is :
<span id="emi"></span>

</P>
  
    <!--div id="output"-->

  <div class="form-group" >
    
    <!--div class = "col-md-4">
    <label for="InputMessage">Message:</label>
       <textarea id = "" name="Message"></textarea>
    </div-->
    </div>
  </div>
  </div>
  </div>
   
  
<!--</form>-->
<div class="wrapper">
  <div class="col-md-12">
<hr>
     
</div>
</div>
</div>
</div>
<% include footer %>
<script src = "RJJS.js"></script>
</body>
