<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <title>RaghavenderJarupati</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
  <link rel="stylesheet" href="jarupati_ragavender.css">
   <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>

</head>


<body>
<% include header %>

     <div class="jumbotron">
      <div class="container">
        <h1>Welcome!</h1>
        <p>To our page </p>
        </div>
    </div>

    <div class="row">
        <div class="container">
        <div class="col-md-12">
          <p></p>
            <iframe  width="600" height="370"  src="https://www.youtube.com/embed/2OcbJkQY-SA" allowfullscreen></iframe>
 
        </div></div>
<% include footer %>
      <!--footer>

           
               <hr>
        <div class="container">
        <p>  Follow me @: </p>
	    <ul class="social-icons icon-circle list-unstyled list-inline"> 
	      <li><a href="mailto: raghupg187@gmail.com"><i class="fa fa-google-plus"></i></a> </li> 
        <li><a href="https://www.facebook.com/raghavenderj"><i class="fa fa-facebook"></i></a> </li> 
	     </ul>
        
        </div>
           </div>
      </footer-->
      </body>