
<head>
  <title>EMI Calculator</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
   </link>
  <link rel="stylesheet" href="jarupati_ragavender.css">
   
</head>


<body>
<nav class="navbar navbar-inverse navbar-float-top">
      <div id = "id12">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

           
        <div class="col-xs-1">
            <img class="img-responsive circle img-circle" src="Raghu.jpg" />
        </div>
    
          <a class="navbar-brand" href="/">Raghavender Jarupati</a>
        </div>
        <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li><a href="/Aboutme">About me</a></li>
      <li class="active"><a href="/EMI">EMI Calc.</a></li>
      <li><a href="/Contact">Contact</a></li>
      <li><a href="/guestbook">Guestbook</a></li>
    </ul>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
             
          </form>
        </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
   
<div id ="rji">
<div class = "row">
<div class="container">
 <div class = "col-md-6">
   <br></br>
  <p></p>
  <h2><th> Please enter below details :</th></h2>
  <br></br>


  
  <!--<form id="formelements">-->
<div class="container">
 
 <div class="container">
  <div class="form-group">
       <div class = "col-md-4">
    <label for="InputAmount">Amount</label>
    <input type="number" class="form-control" id="InputAmount" placeholder="Amount">
  <div>
  </div>
       </div>

 
   <div class="container">
    
  <div class="form-group">
       <div class = "col-md-4">
    <label for="Inputmonths">Repay months:</label>
    <input type="number" class="form-control" id="Inputmonths" placeholder="months">
 
  </div>
   </div>
   </div>

  <div class="container">
  <div class="form-group">
    <div class = "col-md-4">
    <label for="Inputinterest">interest rate(%)</label>
    <input type="number" class="form-control" id="Inputinterest" placeholder="intrest rate(%)">
    </div>
  </div>
  </div>

  <div class="container">
    <div class="form-group">
  <div class = "col-md-4">
    <p> </p>
    <button type="submit" class="btn btn-default" onclick="App.MYEMI()"   >Calc emi</button>
  </div>
    </div>
</div>
<div class = "col-md-12">
<P> Your monthly EMI is :
<span id="emi"></span>

</P>
  
    <!--div id="output"-->

  <div class="form-group" >
    
    <!--div class = "col-md-4">
    <label for="InputMessage">Message:</label>
       <textarea id = "" name="Message"></textarea>
    </div-->
    </div>
  </div>
  </div>
  </div>
   
  
<!--</form>-->

     <% include footer %>
</div>
</div>
</div>
</div>

<script src = "RJJS.js"></script>
</body>
