<body>
<footer>

         <div class = "footer">  
        <hr>
        <div class="container">  
          <div class="id2">   
          <div class = "col-md-12">
        <p> Contact me @: </p>
	    <ul class="social-icons icon-circle list-unstyled list-inline"> 
        <li><a href="https://in.linkedin.com/in/raghavender-jarupati-74222788"><i class="fa fa-linkedin"></i></a> </li>
	     <li><a href="https://github.com/RaghavenderJarupati"><i class="fa fa-github"></i></a> </li>   
	      <li> <a href="https://bitbucket.org/RaghavenderJarupati/"><i class="fa fa-bitbucket"></i></a> </li>
         <li><a href="mailto: raghupg187@gmail.com"><i class="fa fa-google-plus"></i></a> </li> 
        <li><a href="https://www.facebook.com/raghavenderj"><i class="fa fa-facebook"></i></a> </li> 
        </ul>
      </div> 
      </footer>

</body>
</html>