<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>RaghavenderJarupati</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/
bootstrap.min.css">
<link rel = "stylesheet" type="text/css" href = "/W07.css">
<link rel = "stylesheet" type="text/css" href = "/jarupati_ragavender.css">


  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
  <link rel="stylesheet" href="jarupati_ragavender.css">
   <link rel="stylesheet" href="W07.css">
   <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
</head>
<body >

<nav class="navbar navbar-inverse navbar-float-top">
      <div id = "id12">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

           
        <div class="col-xs-1">
            <img class="img-responsive circle img-circle" src="Raghu.jpg" />
        </div>
    
          <a class="navbar-brand" href="/">Raghavender Jarupati</a>
        </div>
        <ul class="nav navbar-nav">
      <li ><a href="/">Home</a></li>
      <li><a href="/Aboutme">About me</a></li>
      <li><a href="/EMI">EMI Calc.</a></li>
      <li><a href="/Contact">Contact</a></li>
      <li class="active"><a href="/guestbook">MyGuestbook</a></li>
    </ul>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
             
          </form>
        </div>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
   
</body>


 
