
.row {
    background-image:url("abstract.png") ;
    background-size:cover;
    font-family: verdana;
    font-size: 20px;
    height: 120%;
    width: auto;
  
    }
    h2{
font-family: sans-serif;

    }

.img-circle{
     
     border-radius:20%;  
     }
.wrapper {
    padding-top: 6%;
    font-family: sans-serif;
    font-size: 20px;
    }
#hig2{
    background-color: transparent;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    
    }
.jumbotron {
    color: darkblue;    
    background-image:url("img20.jpg");
    
}
#id2 {

  font-size: 150%;
}
#id3 {
    padding-top: 5%;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}
.navbar-fixed-top{
    height: 40px;

}
#first {
width: 600px;
float: right;
height: 300px;

}

#output{
padding-top: 10px;
padding-bottom: 10px;
display: none;

}
#container{
   background-image:url("img20.jpg") ;
    background-size:cover;
    font-family: verdana;
    font-size: 20px;
    height: 120%;
    width: auto; 

}