body {
    background-color: khaki;
    /*background-image: url("light_bgi.jpg");*/
  /*padding-top: 60px;
  padding-bottom: 10px;*/
  color: blue;
  font-family: Verdana, sans-serif;
  font-style: oblique;
  font-size: large;
}
.container1{
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 10%;

}
.jumbotron{
font-family: Georgia, 'Times New Roman', Times, serif;
padding-top: 10%;

}
.row {
    background-image:url("abstract.png") ;
    background-size:cover;
    font-family: verdana;
    font-size: 20px;
    height: 120%;
    width: auto;
  
    }
    h2{
font-family: sans-serif;

    }

.img-circle{
     
     border-radius:50%;  
     }
.wrapper {
    padding-top: 6%;
    font-family: sans-serif;
    font-size: 20px;
    }
#hig2{
    background-color: transparent;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
    
    }
.jumbotron {
    color: darkblue;    
    background-image:url("img20.jpg");
    padding-top: 15%;
}
#id2 {

  font-size: 150%;
}
#id3 {
    padding-top: 5%;
    font-family: sans-serif;
    font-size: 20px;
    color: black;
}
.navbar-fixed-top{
    height: 40px;

}
#first {
width: 600px;
float: right;
height: 300px;

}

#output{
padding-top: 10px;
padding-bottom: 10px;
display: none;

}
