<html>

<head>
<title>Ragavender</title>
<link rel = "stylesheet" href = "about.css" >
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
  <link rel="stylesheet" href="jarupati_ragavender.css">
   <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>

    
</head>
<body>
<% include header %>


<!--<div class="row">-->
    
          <div class="container">
              <div class = "afgh">
              <div class = "wrapper">
<h2 id="id1">About me</h2>
<p Class= "body">Hi, I'm Raghavender Jarupati from Jadcherla,Telangana,India.Currently persuing my Masters in NWMSU, Maryville. I have completed my Bachelors of Technology 
in 2014 from JNTUH, Hyderabad in the stream of <i id = "hig">Electrical and Electronics Engineering</i>. Later I worked as a <i id = "hig2">Software Engineer Analyst</i>, around 
2years, in Accenture. I worked in financial segment	 where I got exposure to multiple databases like oracle, MS Access, Teradata and BI applications like SAS
 and MS Excel.  </p>
<h2 id="id2" >My Plans</h2>
<ul Class = "body"><li Class = "body"> To complete my masters and acquire good knowledge in multiple technologies.</li>
<li Class = "body"> I wanna work as a BI consultant in one of the reputed MNCs.</li></ul>
<h2 id = "id9"> My interests</h2>
<p Class = "body">I'm interested in outdoor games like cricket and vollyball to play. I like to explore about intrested topics/technologies, may or may  
not be related to my work/study. However, most of the time I spend watching  movies and  listening music. Travelling is also one of my interests. 
</p>
<pr><u> Following are the technologies I'm little familiar with :</u> </pr>
<br></br>
<table style = "width:40%"> 
<tr>
<td><th> Applications</th></td> 				<td> SAS, Toad, MS excel, Teradata SQL Assistant</td>
</tr>
<tr>
<td><th> Programming Languages</th></td> 	<td> sql/Plsql, C , Java</td>
</tr>
<tr>
<td><th> Databases </th></td>				<td> Ms Access, Oracle</td>
</tr>
</table>
</div></div>
</div>
<% include footer %>
</body>
</html>
