<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
<head>
  <title>Contact</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script-->
  <link rel="stylesheet" href="jarupati_ragavender.css">
   <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css'>
   </link>
</head>


<body>
<% include header %>
 <li class="active"><a href="/Contact">Home</a></li>


<div class = "row">
<div class="container">
 <div class = "col-md-6">
   <br></br>
  <p></p>
  <h2><th> You can contact us here :</th></h2>
  <br></br>
  
  <form>
<div class="container">
  <div class="form-group">
       <div class = "col-md-4">
    <label for="InputName">Name</label>

    <input type="text" class="form-control" id="InputName" placeholder="Name">
  </div>
  </div>
</div>
<div class="container">
  <div class="form-group">
    <div class = "col-md-4">
    <label for="InputEmail">Email:</label>
    <input type="email" class="form-control" id="InputEmail" placeholder="Email">
  </div>
  </div>
  </div>
  <div class="container">
  <div class="form-group">
    <div class = "col-md-4">
    <label for="InputPhone">Phone number</label>
    <input type="text" class="form-control" id="InputPhone" placeholder="Phone number">
    </div>
  </div>
  </div>
  <div class="container">
  <div class="form-group">
    <div class = "col-md-4">
    <label for="InputMessage">Message:</label>
       <textarea id = "InputMessage" name="Message"></textarea>
   
 
  </div>
  </div>
  </div>
   
  <div class="container">
  <div class = "col-md-4">
    <p> </p>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>
</div>
</div>
</div>
<% include footer %>

</div>
</div>
</div>

</body>

