 <head>

     </head>

     <title>MyChoice</title>
 <link rel="apple-touch-icon" href="apple-touch-icon.png">
         <link rel="stylesheet" href="jarupati_ragavender.css">
       <link rel="stylesheet" href="css/bootstrap.min.css">
       
        <link rel="stylesheet" href="css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="css/main.css">

        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    <body class="body" >


<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

             
        <div class="col-xs-1">
            <img class="img-responsive circle img-circle" src="Raghu.jpg" />
        </div>
    
          <a class="navbar-brand" href="#">Raghavender Jarupati</a>
        </div>
        <ul class="nav navbar-nav">
      <li class="active"><a href="Html1.html">Home</a></li>
      <li><a href="Html2.html">MyChoice</a></li>
      <li><a href="Html3.html">Contact</a></li>
    </ul>
        <div id="navbar" class="navbar-collapse collapse">
          <form class="navbar-form navbar-right" role="form">
            <div class="form-group">
             
          </form>
        </div><!--/.navbar-collapse -->
      </div>
    </nav>

<div class="row">
        <div class="container">
        <div class="col-md-12">
          <p></p>
        </div>
        </div>
</div>
        </body >